<?xml version="1.0"?>
<config xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_CatalogRule::promo">
                        <resource id="Vendor_Rules::rules" sortOrder="40" title="Example Rules" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
